/* Hero 1 or Demo section */
@import 'variables.scss';
@import 'mixins';

#demo {
    position: absolute;
    width: 1186px;
    height: 464px;
    left: 0px;
    top: 94px;
  }
  
  #demoHead {
    position: absolute;
    width: 437px;
    height: 107px;
    left: 94px;
    top: 169px;
    font-family: $nun-sans;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    color: $second-color;
  }
  
  #btnDemo {
    position: absolute;
    width: 339px;
    height: 48px;
    left: 94px;
    top: 429px;
    background: $brand-color;
    border-radius: 16px;
    border: none;
    @include buttons;
  }
  
  #btnDemoText {
    width: 339px;
    height: 34px;
    left: 94px;
    top: 436px;
    font-family: $open-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  
  #heroText {
    position: absolute;
    width: 437px;
    height: 99px;
    left: 94px;
    top: 299px;
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $third-color;
  }
  
  #manOnPhone {
    position: absolute;
    width: 646px;
    height: 464px;
    left: 634px;
    top: 94px;
    @include images;
  }