/* Chat or footer */
@import 'variables.scss';

#chat {
  width: 1280px;
  height: 490px;
  left: 0px;
  top: 2604px;
  position: absolute;
  background-color: $brand-color;
}

#headChat {
  position: absolute;
  width: 450px;
  height: 58px;
  left: 112px;
  top: 120px;
  font-family: $nun-sans;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: white;
}

#chatText {
  position: absolute;
  width: 366px;
  height: 75px;
  left: 154px;
  top: 200px;
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

#answersBtn {
  position: absolute;
  width: 280px;
  height: 48px;
  left: 193px;
  top: 300px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: $brand-color;
}

#answersBtnText {
  width: 273px;
  height: 40px;
  left: 196px;
  top: 1255px;
  font-family: $open-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#armsFold {
  position: absolute;
  width: 551px;
  height: 490px;
  left: 624px;
  top: 0px;
}
