@import 'variables';

@mixin form-input {
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: $open-sans;
    border-radius: 6px;
    -webkit-appearance: none;
    color: $second-color;
    border: 1px solid $brand-color;
    background: white;
}

@mixin buttons {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

@mixin images {
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px $second-color;
    transition: all .4s ease;
}