/* upsale */
@import 'variables.scss';
@import 'mixins';

#upsale {
    width: 1070px;
    height: 567px;
    left: 105px;
    top: 100px;
  }
  
  #phoneHand {
    position: absolute;
    width: 510px;
    height: 366px;
    left: 105px;
    top: 964px;
    @include images;
  }
  
  #womanPhone {
    position: absolute;
    width: 510px;
    height: 366px;
    left: 665px;
    top: 964px;
    @include images;
  }
  
  #headOne {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 105px;
    top: 1386px;
    font-family: $nun-sans;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    color: $second-color;
  }
  
  #paraOne {
    position: absolute;
    width: 415px;
    height: 74px;
    left: 152px;
    top: 1457px;
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $third-color;
  }
  
  #headTwo {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 665px;
    top: 1386px;
    font-family: $nun-sans;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    color: $second-color;
  }
  
  #paraTwo {
    position: absolute;
    width: 415px;
    height: 74px;
    left: 712px;
    top: 1457px;
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $third-color;
  }
  